@model VirginMediaScenario.Models.Scenario

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Scenario</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ScenarioID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ScenarioID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Surname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Surname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Forename)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Forename)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SampleDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SampleDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreationDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreationDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumMonths)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumMonths)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MarketID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MarketID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NetworkLayerID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NetworkLayerID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
