@model IEnumerable<VirginMediaScenario.ViewModels.ScenarioSummary>

@{
    ViewData["Title"] = "Summary";
}

<h1>Summary to be created here</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Surname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Forename)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SampleDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumMonths)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MarketID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NetworkLayerID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.count)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Surname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Forename)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SampleDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreationDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumMonths)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MarketID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NetworkLayerID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.count)
                </td>
            </tr>
        }
    </tbody>
</table>
